body{
    margin: 0;
}
header{
    background-color: rgb(75, 98, 124);
    height: 70px;
    margin: 0px;
}
ul{
    margin: 0%;
}
a{
    text-decoration: none;
}
#header-logo{
    float: left;
    height: 60px;
    margin: 5px;
}
.header-item{
    list-style: none;
    padding: 25px;
    font-weight: 600;
    transition: 0.2s all;
    color: rgb(255, 255, 255);
}
#slide {
    z-index: 99;
    cursor: pointer;
    position: fixed;
    top: 70px;
    right: -180px;
    height: 100%;
    background: #0DCEA8;
    width: 180px;
    color: #fff;
    font-size: 16px;
  }
  .fa-bars{
      float: right;
      margin: 10px;
  }