body{
    margin: 0%;
    
}
::selection{
    background-color: rgb(36, 206, 141);
    color: azure;
}
.page-item{
    border: rgb(104, 104, 104) solid 2px;
    height: 60px;
    width: 700px;
    margin: 20px auto 50px auto;
    text-align: center;
    border-radius: 40px;
    background-size: cover;
    transition: all ease-in-out 0.2s;
    background-repeat: no-repeat;
    cursor: default;
    background-position-x: -700px;
    background-position-y: center;
    
}
.page-item:hover{
    background-position-x: center;
}
.page-item p{
    font-size: 20px;
    color: black;
    margin: 17px;
}
.page-item:hover p{
    transition: all ease-in-out 0.2s;
    color: azure;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;

}
#page-list{
    margin-top: 70px;
}
.image{
    background-image:url(images/button-images-background.JPG);
    position: relative;
}
.blog{
    background-image: url(images/button-blog-background.png);
    background-repeat: no-repeat;
}